Django>=4.2
djangorestframework
djangorestframework-simplejwt
channels
channels_redis
django-cors-headers
Pillow          # for ImageField on Doctor profile picture
web3            # for blockchain app later